[PlankDockItemPreferences]
#The uri for this item.
Launcher=docklet://clippy

[DockyClippyPreferences]
#How many recent clipboard entries to keep.
MaxEntries={{ clippy_max_entries }}
#How often to poll (in ms) for new clipboard data.
TimerDelay={{ clippy_timer_delay}}
#If it should track the primary (mouse selection) clipboard.
TrackMouseSelections={{ clipy_track_mouse_selections | lower }}
