[PlankDockItemPreferences]
#The uri for this item.
Launcher=docklet://clock

[DockyClockPreferences]
#If the clock shows 24hr time (when showing digital and in the hover).
ShowMilitary={{ clock_24h_format | lower }}
#If the clock shows a digital clock (true) or an analog clock (false).
ShowDigital={{ clock_show_digital | lower }}
#If the clock shows the date in digital mode.
ShowDate={{ clock_show_date | lower }}
